@model ChilonSoft.Helpers.Pager<ChilonSoft.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<!--<h2>Index</h2> -->
<div class="box">
    <!-- box / title -->
    <div class="title">
        <h5>
            产 品 分 类 列 表</h5>
        <div class="search">
            <form action="#" method="post">
            <div class="input">
                <input type="text" id="search" name="search">
            </div>
            <div class="button">
                <input type="submit" name="submit" value="查询" class="ui-button ui-widget ui-state-default ui-corner-all"
                    role="button" aria-disabled="false">
            </div>
            </form>
        </div>
    </div>
    <!-- end box / title -->
    <div class="table">
        <form action="" method="post">
        <table>
            <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        产品分类
                    </th>
                    <th>
                        排序编号
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        操作
                    </th>
                    <th class="selected last">
                        <input type="checkbox" class="checkall">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="category">
                            @Html.Encode(item.CategoryID)
                        </td>
                        <td class="category">
                            @Html.Encode(item.CategoryName)
                        </td>
                        <td class="category">
                            @Html.Encode(item.Sort)
                        </td>
                        <td class="date" id="dp1346829800737">
                            @Html.Encode(String.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime))
                        </td>
                        <td class="category">
                            @Html.Encode(item.State.ToString() == "1" ? "启用" : "停用")
                        </td>
                        <td class="category">
                            <!-- Icons -->
                            <a href="@Url.Action("delete", "category", new { id = item.CategoryID })" title="删除" onclick="return confirm('删除后无法恢复,确定要删除吗')">
                                <img src="/Content/admin/images/icons/crossRed.png" alt="删除" /></a> <a href="@Url.Action("edit", "category", new { id = item.CategoryID })" title="修改">
                                    <img src="/Content/admin/images/icons/hammer_screwdriver.png" alt="修改" /></a>
                        </td>
                        <td class="selected last">
                            <input type="checkbox">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- pagination -->
        <div class="pagination pagination-left">
            <ul class="pager">
                @if (Model.TotalPages > 0)
                { 
                    <li><a href="@Url.Action("index", "category", new { page = (1) })" title="First Page">
                        &laquo; 首 页</a></li>
                }
                @if (Model.HasPreviousPage)
                {
                    <li><a href="@Url.Action("index", "category", new { page = (Model.PageIndex) })" title="Previous Page">
                        &laquo; 上一页</a></li>
                }
                @foreach (int i in Model.PageList)
                {
                    if (Model.PageIndex + 1 == i)
                    {
                    <li class="current"><a href="@Url.Action("index", "category", new { page = (i) })" class="number current" >@i.ToString()</a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("index", "category", new { page = (i) }) " class="number" >@i.ToString()</a></li>
                    }

                }
                @if (Model.HasNextPage)
                {
                    <li><a href="@Url.Action("index", "category", new { page = (Model.PageIndex + 2) })" >
                        下一页 &raquo;</a></li> 
                }
                else
                {
                    <li><a href="@Url.Action("index", "category", new { page = (Model.TotalPages) })" >尾
                        页 &raquo;</a></li>
                }
            </ul>
        </div>
        <!-- end pagination -->
        <!-- table action -->
        <!-- end table action -->
        </form>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //A
        $("#h-menu-products").addClass("selected");
        $("#menu-products").removeClass("closed");
        //B
        $("#categoryli").removeClass("plus");
        $("#categoryul").removeClass("collapsed");
        //C
        $("#categoryli").addClass("minus");
        $("#categoryul").addClass("expanded");
        //D
        $("#categorylist").addClass("current");
    });
</script>
