@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!--<h2>Index</h2> -->
<div class="box">
    <!-- box / title -->
    <div class="title">
        <h5>
            项 目 列 表</h5>
        <div class="search">
            <form method="post" action="/admin/case/search">
            <div class="input">
                @Html.DropDownList("CategoryID", ViewData["CategoryID"] as SelectList)
            </div>
            <div class="input">
                <input type="text" id="CaseName" name="CaseName">
            </div>
            <div class="button">
                <input type="submit" name="submit" value="查询" class="ui-button ui-widget ui-state-default ui-corner-all"
                    role="button" aria-disabled="false">
            </div>
            </form>
        </div>
    </div>
    <!-- end box / title -->
    <div class="table">
        <form action="" method="post">
        <table>
            <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        项目名称
                    </th>
                    <th>
                        项目分类
                    </th>
                    <th>
                        是否置顶
                    </th>
                    <th>
                        排序编号
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        操作
                    </th>
                    <th class="selected last">
                        <input type="checkbox" class="checkall">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="category">
                            @Html.Encode(item.CaseID)
                        </td>
                        <td class="category">
                            @Html.Encode(item.CaseName)
                        </td>
                        <td class="category">
                            @Html.Encode(item.Category.CategoryName)
                        </td>
                        <td class="category">
                            @Html.Encode(item.IsTop.ToString() == "1" ? "置顶" : "未置顶")
                        </td>
                        <td class="category">
                            @Html.Encode(item.Sort)
                        </td>
                        <td class="date" id="dp1346829800737">
                            @Html.Encode(String.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime))
                        </td>
                        <td class="category">
                            @Html.Encode(item.State.ToString() == "1" ? "启用" : "停用")
                        </td>
                        <td class="category">
                            <!-- Icons -->
                            <a href="@Url.Action("delete", "case", new { id = item.CaseID })" title="删除" onclick="return confirm('删除后无法恢复,确定要删除吗')">
                                <img src="/Content/admin/images/icons/crossRed.png" alt="删除" /></a> <a href="@Url.Action("edit", "case", new { id = item.CaseID })" title="修改">
                                    <img src="/Content/admin/images/icons/hammer_screwdriver.png" alt="修改" /></a>
                        </td>
                        <td class="selected last">
                            <input type="checkbox">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- pagination -->
        <div class="pagination pagination-left">
            <ul class="pager">
                @if (Model.HasPreviousPage)
                {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.PageIndex) })" title="Previous Page">
                        &laquo; 上一页</a></li>
                            if (Model.CurrentPage >= 8)
                            {
                    
                    <li><a href="@Url.Action("index", "case", new { page = (1) }) " class="number" >1</a></li>
                    <li><a href="@Url.Action("index", "case", new { page = (2) }) " class="number" >2</a></li>
                    <li class="separator">...</li>
                            }
                            if (Model.CurrentPage == 6)
                            {
                    <li><a href="@Url.Action("index", "case", new { page = (1) }) " class="number" >1</a></li>
                            }
                            if (Model.CurrentPage == 7)
                            {
                    <li><a href="@Url.Action("index", "case", new { page = (1) }) " class="number" >1</a></li>
                    <li><a href="@Url.Action("index", "case", new { page = (2) }) " class="number" >2</a></li>
                            }
                }
                @foreach (int i in Model.PageList)
                {
                    if (Model.PageIndex + 1 == i)
                    {
                    <li class="current"><a href="@Url.Action("index", "case", new { page = (i) })" class="number current" >@i.ToString()</a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("index", "case", new { page = (i) }) " class="number" >@i.ToString()</a></li>
                    }

                }
                @if (Model.HasNextPage)
                {
                    if (Model.CurrentPage <= (Model.TotalPages - 8))
                    {
                    <li class="separator">...</li>
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages - 1) }) " class="number" >@(Model.TotalPages - 1)</a></li>
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages) }) " class="number" >@Model.TotalPages</a></li>

                    }
                    if (Model.CurrentPage == (Model.TotalPages - 6))
                    {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages - 1) }) " class="number" >@(Model.TotalPages - 1)</a></li>
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages) }) " class="number" >@Model.TotalPages</a></li>
                    }
                    if (Model.CurrentPage == (Model.TotalPages - 5))
                    {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages) }) " class="number" >@Model.TotalPages</a></li>
                    }
                    if (Model.CurrentPage == (Model.TotalPages - 7))
                    {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages - 1) }) " class="number" >@(Model.TotalPages - 2)</a></li>
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages - 2) }) " class="number" >@(Model.TotalPages - 1)</a></li>
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages) }) " class="number" >@Model.TotalPages</a></li>

                    }
                    <li><a href="@Url.Action("index", "case", new { page = (Model.PageIndex + 2) })" >
                        下一页 &raquo;</a></li> 

                }
            </ul>
        </div>
        <!-- pagination2
        <div class="pagination pagination-left">
            <ul class="pager">
                @if (Model.TotalPages > 0)
                { 
                    <li><a href="@Url.Action("index", "case", new { page = (1) })" title="First Page">
                        &laquo; 首 页</a></li>
                }
                @if (Model.HasPreviousPage)
                {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.PageIndex) })" title="Previous Page">
                        &laquo; 上一页</a></li>
                }
                @foreach (int i in Model.PageList)
                {
                    if (Model.PageIndex + 1 == i)
                    {
                    <li class="current"><a href="@Url.Action("index", "case", new { page = (i) })" class="number current" >@i.ToString()</a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("index", "case", new { page = (i) }) " class="number" >@i.ToString()</a></li>
                    }

                }
                @if (Model.HasNextPage)
                {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.PageIndex + 2) })" >
                        下一页 &raquo;</a></li> 
                }
                else
                {
                    <li><a href="@Url.Action("index", "case", new { page = (Model.TotalPages) })" >尾
                        页 &raquo;</a></li>
                }
            </ul>
        </div> -->
        <!-- end pagination -->
        <!-- table action -->
        <!-- end table action -->
        </form>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //A
        $("#h-menu-case").addClass("selected");
        $("#menu-case").removeClass("closed");
        //B
        $("#caseli").removeClass("plus");
        $("#caseul").removeClass("collapsed");
        //C
        $("#caseli").addClass("minus");
        $("#caseul").addClass("expanded");
        //D
        $("#caselist").addClass("current");
    });
</script>